.calendar-container {
  display: inline-block;
  padding: 15px;
}

.calendar {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 25px 25px 1fr;
  width: 100%;
  margin-top: 15px;
}

.calendar-header {
  display: grid;
  grid-template-columns: repeat(7, 30px);
  grid-column-gap: 1px;
  .calendar-head-cell {
    text-align: center;
    font-weight: 500;
  }
}

.calendar-month {
  background-color: #eaf6d6;
  text-align: center;
  font-weight: bold;
}

.calendar-content {
  display: grid;
  grid-template-columns: repeat(7, 30px);
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  .calendar-day {
    text-align: center;
    box-sizing: border-box;
    padding: 3px;
  }
}

.day-disabled {
  background-color: #cccccd;
}

.day-active {
  background-color: #bcd1af;
}

.day-weekend {
  background-color: #f5fc20;
}

.day-holiday {
  background: #FF7A00;
}
